<!DOCTYPE html> {% load static %}
<html lang="zxx">


<footer>
    <div class="footerv2-w3ls">
        <div class="footer-w3lagile-innerr">
            <!-- footer-top -->
            <!-- //footer-top -->
            <div class="footer-bottomv2 py-5">
                <div class="container">
                    <ul class="bottom-links-agile">
                        <li>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'faq' %}">FAQ</a>
                        </li>
                        <li>
                            <a href="{% url 'contact' %}">Contact</a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
        <div class="container-fluid py-5 footer-copy_w3ls">
            <div class="d-lg-flex justify-content-between">
                <div class="mt-2 sub-some align-self-lg-center">
                    <h5>Payment Method</h5>
                    <ul class="mt-4">
                        <li class="list-inline-item">
                            <img src="{% static 'images/Pay_MasterCard.png' %}" alt="">
                        </li>
                        <li class="list-inline-item">
                            <img src="{% static 'images/Pay_Maestro.png' %}" alt="">
                        </li>
                        <li class="list-inline-item">
                            <img src="{% static 'images/Pay_Discover.png' %}" alt="">
                        </li>
                        <li class="list-inline-item">
                            <img src="{% static 'images/Pay_NetBanking.png' %}" alt="">
                        </li>
                        <li class="list-inline-item">
                            <img src="{% static 'images/Pay_COD.png' %}" alt="">
                        </li>
                    </ul>
                </div>
                <div class="cpy-right align-self-center">
                    <h2 class="agile_btxt">
                        <a href="{% url 'index' %}">
                            <span>w</span>eb
                            <span>m</span>all</a>
                    </h2>
                    <p>© 2020 All rights reserved
                        <a href="http://w3layouts.com" class="text-secondary"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>